body {
  background: hsl(0, 0%, 98%);
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 30px;
}
body .header-container {
  width: 320px;
  justify-self: center;
  text-align: center;
  color: hsl(234, 12%, 34%);
  line-height: 1.5;
  margin: 80px 0 40px 0;
}
body .header-container .header-thin {
  font-size: 22px;
  font-weight: 300;
}
body .header-container .header-thick {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 18px;
}
body .header-container .header-desc {
  font-size: 15px;
  font-weight: 400;
  color: hsl(229, 6%, 66%);
}
body .card-container {
  width: 320px;
  justify-self: center;
  display: grid;
  grid-template-rows: repeat(4, auto);
  gap: 30px;
}
body .card-container .supervisor-card {
  background-color: white;
  border-top: 5px solid hsl(180, 62%, 55%);
  color: hsl(234, 12%, 34%);
  line-height: 1.8;
  border-radius: 10px;
  padding: 20px 30px 30px 30px;
  box-shadow: 0px 10px 31px -11px hsla(229, 6%, 66%, 0.6);
  display: grid;
  grid-template-rows: repeat(3, min-content);
  box-sizing: border-box;
}
body .card-container .supervisor-card .card-header {
  font-size: 20px;
  font-weight: 700;
}
body .card-container .supervisor-card .card-desc {
  font-size: 15px;
  font-weight: 400;
  color: hsl(229, 6%, 66%);
  margin-bottom: 50px;
}
body .card-container .supervisor-card .card-icon {
  justify-self: end;
}
body .card-container .team-builder-card {
  background-color: white;
  border-top: 5px solid hsl(0, 78%, 62%);
  color: hsl(234, 12%, 34%);
  line-height: 1.8;
  border-radius: 10px;
  padding: 20px 30px 30px 30px;
  box-shadow: 0px 10px 31px -11px hsla(229, 6%, 66%, 0.6);
  display: grid;
  grid-template-rows: repeat(3, min-content);
  box-sizing: border-box;
}
body .card-container .team-builder-card .card-header {
  font-size: 20px;
  font-weight: 700;
}
body .card-container .team-builder-card .card-desc {
  font-size: 15px;
  font-weight: 400;
  color: hsl(229, 6%, 66%);
  margin-bottom: 50px;
}
body .card-container .team-builder-card .card-icon {
  justify-self: end;
}
body .card-container .karma-card {
  background-color: white;
  border-top: 5px solid hsl(34, 97%, 64%);
  color: hsl(234, 12%, 34%);
  line-height: 1.8;
  border-radius: 10px;
  padding: 20px 30px 30px 30px;
  box-shadow: 0px 10px 31px -11px hsla(229, 6%, 66%, 0.6);
  display: grid;
  grid-template-rows: repeat(3, min-content);
  box-sizing: border-box;
}
body .card-container .karma-card .card-header {
  font-size: 20px;
  font-weight: 700;
}
body .card-container .karma-card .card-desc {
  font-size: 15px;
  font-weight: 400;
  color: hsl(229, 6%, 66%);
  margin-bottom: 50px;
}
body .card-container .karma-card .card-icon {
  justify-self: end;
}
body .card-container .calculator-card {
  background-color: white;
  border-top: 5px solid hsl(212, 86%, 64%);
  color: hsl(234, 12%, 34%);
  line-height: 1.8;
  border-radius: 10px;
  padding: 20px 30px 30px 30px;
  box-shadow: 0px 10px 31px -11px hsla(229, 6%, 66%, 0.6);
  display: grid;
  grid-template-rows: repeat(3, min-content);
  box-sizing: border-box;
}
body .card-container .calculator-card .card-header {
  font-size: 20px;
  font-weight: 700;
}
body .card-container .calculator-card .card-desc {
  font-size: 15px;
  font-weight: 400;
  color: hsl(229, 6%, 66%);
  margin-bottom: 50px;
}
body .card-container .calculator-card .card-icon {
  justify-self: end;
}
body footer {
  width: 320px;
  justify-self: center;
}
body footer .attribution a {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  body .header-container {
    width: 70%;
    margin: 60px 0 30px 0;
  }
  body .card-container {
    width: 70%;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
  }
  body footer {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  body .header-container {
    width: 500px;
  }
  body .header-container .header-thin {
    font-size: 28px;
  }
  body .header-container .header-thick {
    font-size: 28px;
  }
  body .card-container {
    width: 85%;
    grid-template-columns: repeat(3, 270px);
    grid-template-rows: repeat(2, 250px);
    grid-template-areas: "supervisor team-builder calculator" "supervisor karma calculator";
    justify-content: center;
  }
  body .card-container .supervisor-card {
    grid-area: supervisor;
    height: 250px;
    position: relative;
    align-self: center;
  }
  body .card-container .supervisor-card .card-icon {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
  body .card-container .team-builder-card {
    grid-area: team-builder;
    position: relative;
  }
  body .card-container .team-builder-card .card-icon {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
  body .card-container .karma-card {
    grid-area: karma;
    position: relative;
  }
  body .card-container .karma-card .card-icon {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
  body .card-container .calculator-card {
    grid-area: calculator;
    height: 250px;
    position: relative;
    align-self: center;
  }
  body .card-container .calculator-card .card-icon {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  body .card-container {
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, 250px);
  }
}
@media only screen and (min-width: 1440px) {
  body .card-container {
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(2, 250px);
  }
}/*# sourceMappingURL=style.css.map */